@model IdeaManMVC.Models.IdeaEntry

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "IdeaEntry", FormMethod.Post, new { data_toggle="validator" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>IdeaEntry</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", required="" } })
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control", required = "" } })
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FullText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullText, new { htmlAttributes = new { @class = "form-control", required = "" } })
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Category">
                    <option value="Entertainment">Entertainment</option>
                    <option value="IT">IT</option>
                    <option value="Health">Health</option>
                </select>
            </div>
        </div>

        <div class="col-md-offset-2 col-md-10">
            <div class="btn-group">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<br/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
