@model List<IdeaManMVC.Models.Ideas.IdeaShortViewModel>
<style>
    .list-group li {
         list-style: none;
     }
</style>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li>
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.ActionLink("Read more", "Details", new { id = item.Id, }, new { @class = "btn pull-right" })
                        <h4 class="panel-title">@Html.DisplayFor(m => item.Title)</h4>
                        <div class="panel-info">
                            <hr/>
                            <p>@Html.DisplayFor(m => item.ShortDescription)</p>
                            @Html.DisplayFor(m => item.CreatorName, new {@class = "pull-right"})
                            @Html.DisplayFor(m => item.CreationDate)

                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

