@using IdeaManMVC.Extensions
@model List<IdeaManMVC.Models.IdeaEntry>
<style>
    .list-group li { list-style: none; }

    .footer-padding {
        margin-bottom: -25px;
        padding-bottom: 25px;
    }
</style>
@{
    ViewBag.Title = "Ideas for Life";
}
<div class="text-center">
    <h2 class="">@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-primary"})
    </p>
</div>
<hr/>
<div class="container">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <h4 class="panel-title">@Html.DisplayFor(m => item.Title)</h4>
                            </div>
                            <div class="input-group col-xs-6 col-md-4">
                                <input class="form-control input-sm" id=@($"vote{@item.Id}") readonly value="@item.Votes.Count"/>
                                <div class="input-group-btn">
                                    @Ajax.RawActionLink(" ", "DoVote", "IdeaEntry", new
                                    {
                                        id = @item.Id
                                    },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            OnSuccess = string.Format("$(\"#vote{0}\").get(0).value++", @item.Id),
                                            OnFailure = ""
                                        },
                                        new
                                        {
                                            @class = "btn btn-default glyphicon glyphicon-thumbs-up",
                                        })
                                </div>
                                @Html.ActionLink("Read more", "Details", new {id = item.Id}, new {@class = "btn"})
                            </div>
                        </div>
                        <div>
                            <hr />
                            <div class="panel-info">

                                <p>@Html.DisplayFor(m => item.ShortDescription)</p>
                                <div class="panel-footer footer-padding">
                                    <p style="float: left">
                                        @Html.DisplayFor(m => item.Creator.FullName)
                                    </p>
                                    <p style="float: right">
                                        @Html.DisplayFor(m => item.UserCreated)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>